<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../../scss/style.css" />
    <link rel="stylesheet" href="./../../scss/page/style.css" />
    <title>Document</title>
  </head>
  <body>
    <section id="flow">
      <div class="top-service--title serviceflow-img">
        <h2>サービス提供までの流れ</h2>
      </div>
      <h3>① お問い合わせ ​</h3>
      <p>お電話もしくはメールからまずはお気軽にお問い合わせください。</p>
      <h3>② ご相談･ご申請</h3>
      <p>
        お住まいの市区町村の相談支援事業所または障害福祉の窓口に相談します。
        申請の時に、｢サービスo等利用計画｣を作成するため、希望する計画相談支援の事業所を選択します。
        市との調整後、計画相談支援の事業所が｢サービス等利用計画案｣を作成し、提出します。
        なお｢計画案｣は、本人や家族、支援者等が｢セルフプラン｣を作成することも可能です。
      </p>
      <h3>③ 調査</h3>
      <p>認定調査員が、現在の生活や障害の状況についての調査を行います。</p>
      <h3>④ 障害支援区分の判定</h3>
      <p>
        公平を期すために、全国統一の調査項目が定められ、コンピューターで判定されます。(一次判定)
        一次判定の結果と医師意見書をもとに障害保健福祉をよく知る委員で構成される障害支援区分認定審査会で二次判定が行われ、障害支援区分が決まります。
      </p>
      <h3>⑤ 支給量の決定</h3>
      <p>
        障害支援区分や介護する人の状況、申請者の要望などをもとに、サービスの支給量などが決まります。
        決定内容が支給決定通知書により通知され、受給者証が交付されます。 ​ ​
      </p>
      <h3>⑥ 契約･利用開始</h3>
      <p>事業所と契約し、サービスの利用を開始します。</p>
      <button>お問い合わせはこちらから</button>
    </section>
  </body>
</html>
